<div class="col-md-1">
  <% if current_user.picture.presence %>
    <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
  <% else %>
    <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
    class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
  <% end %>
</div>
