<div style="min-height: 500px;">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% if !@companies.blank? %>
          <% @companies.each do |company| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="logo">
                  <%= image_tag(company.picture.url,class:"img-thumbnail float comment-image") if company.picture? %>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="<%= "/companies/#{company.id}" %>" class="btn btn-sm btn-outline-secondary"> View </a>
                    </div>
                    <div>
                      <br/>
                      <p>
                        <i class="fa fa-star fa_custom"></i> <%= company.average_review.round(1) %>
                        <i class="far fa-thumbs-up"></i> <%= company.get_upvotes.size %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          No companies found.
        <% end %>
      </div>
    </div>
  </div>
</div>
